/*
All stylings were of my own work, biggest help/mini segment for a style goes to stackoverflow for center align via flexbox as well as w3 for rotate.
*/

/*

Styles for general cases/background colors 

*/

html,
body {
    height: 100%;
    font-family: font-family: 'Vollkorn', serif;
    background-color: #EFEFEF;
    text-align: center;
    background-image: url(Photos/swirl_pattern.png);
}

a {
    font-size: 1.500em;
    color: #B8BAF9;
}

a:hover {
    color: #332372;
}

h1,
h2,
h3 {
    font-family: 'Unica One', cursive;
    color: #332372;
}

#heading h1 {
    font-size: 7em;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5em;
    margin: 0;
    padding: 2%;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.250em;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

article {
    padding: 10px;
}

.left,
.right {
    padding: 2%;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.row {
    margin: 3%;
}

/*

Styles for particular ids + classes 

*/

article:nth-child(odd) {
    background-color: #B8BAF9;
}


/*

Top heading 

*/

#heading {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin-top: 75px;
}

#heading img {
    width: 95%;
    border-radius: 100%;
}

.inside_c {
    text-align: center;
    align-content: center;
    padding-bottom: 30px;
}

.inside_c h3 {
    background-color: #130227;
    color: #B8BAF9;
    padding: 3% 2% 3%;
    margin: 2% 0% 5% 2%;
}

/*
Gallery
*/

#gallery {
    padding: 5% 5%;
    display: flex;
    display: flex;
    flex-direction: column;
    align-content: center;
}


/* Took overlay from someplace online*/

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #332372;
}

.item:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#textsection {
    padding: 5%;
}



/*
SKILLS
*/

#skills i {
    font-size: 5em;
    padding: 5px;
}

/* 

Experience

*/

/*
#list {
    display: flex;
    display: -webkit-flex;
}
*/

.exp {
    padding: 3% 0;
}

.exp h3 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.year {
    font-style: italic;
}

.filler {
    width: 5px;
    height: 500px;
    background-color: #332372;
}

/*

footer

*/

footer {
    text-align: center;
    padding: 2em;
}

.fa {
    padding: 0.125em
}

@media(min-width:767px) {
    #heading {
        height: 85%;

    }
    .inside_c {
        text-align: right;
        padding-bottom: 0px;

    }

    .inside_c p {
        padding-left: 5%;
    }
    #software {
        text-align: right;
    }

    #design {
        text-align: left;
    }

}
